{% extends "layout.html" %}

{% from "macros/_render_fields.html" import render_field %}

{% block title %}Payment Protection Plan Application{% endblock %}

{% block content %}
<div class="container form-wrapper" role="main">

    <div class="row">
        <div class="col-lg-12">
            <div class="card bs-component cvb-card">
                <div class="card-header text-center">
                    <h2>Application Received!</h2>
                </div>
                <div class="card-text text-center mt-5 mb-5">
                    <h5>
                        Thank you! Your application has been received and is being processed by our team. We will contact you regarding further steps
                    </h5>
                    <hr>
                    <div class="row mb-5">
                        <div class="col">
                            <div class="div mb-2">
                                <h3>Contact us with Questions</h3>
                                <hr>
                            </div>
                            <div class="div mb-2">
                                <span><strong>Hours: </strong>Monday - Friday 9AM to 5PM MST</span>
                            </div>
                            <div class="div mb-2">
                                <span><strong>Phone: </strong>1-855-753-1161</span>
                            </div>
                            <div class="div mb-2">
                                <span><strong>Email: </strong></span>
                                <a href="mailto:applications@cachevalleybank.com">
                                    applications@cachevalleybank.com
                                </a>                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}