{% extends "public/templates/public_template.html" %}

{% block title %}Application Upload Successful{% endblock %}

{% block main %}
    <div class="container form-wrapper" role="main">

        <div class="row">
            <div class="col-lg-12">
                <div class="card bs-component cvb-card">
                    <div class="card-header text-center">
                        <h2>Application Received!</h2>
                    </div>
                    <div class="card-text text-center mt-5 mb-5">
                        <h5>
                            Thank you! Your application has been received and is being processed by our team. We will contact you regarding further steps
                        </h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block script %}{% endblock %}